---
import { getEntry, render } from "astro:content"
import type { Album } from "../../types"

const { album_id } = Astro.props
const album = await getEntry('albums', album_id)
const { Content, headings } = await render(album!)
---
<div class="h-separator">
    <div class="cover">
        <img src={"/images/album-covers/" + album?.id + ".png"} />
    </div>
    <div class="info">
        <h1 class="album-name">
            { album?.data.name }
        </h1>
        <h2>
            { "by " + album?.data.artist }
        </h2>
    </div>
</div>



<style>
    .h-separator {
        display: flex;
        flex-direction: row;
    }
    .cover {

        img {
            max-width: 50%;
        }

        flex-grow: 0;
    }
    .info {
        flex-grow: 1;
    }
</style>