.blog-post-big {
    background-color: var(--foreground-dark);
    padding: 0.5rem;
    min-height: 9rem;
    display: flex;
    position: relative;

    border-radius: var(--outer-radius);

    .blog-post-big-info {

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.3rem;
            font-weight: 400;
        }

        h3 {
            color: var(--text-light) !important;
            position: absolute;
            bottom: 1rem;
        }
    }

    transition: transform 100ms;
}

.other-posts {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 4px;
    position: relative;

    div.lower-shelf {
        width: auto !important
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-weight: 400;
    }

    h3 {
        font-size: 1rem;
        color: var(--text-light) !important;
        position: absolute;
        bottom: 1.25rem;
    }
}

.blog-post {
    background-color: var(--foreground-dark);
    padding: 0.5rem;
    min-height: 5rem;
    border: var(--border-thickness) solid var(--border-color-muted);
    border-radius: var(--outer-radius);

    .blog-post-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .blog-post-date {
            color: var(--text-light) !important;
            float: bottom;
        }
    }

    transition: transform 100ms;
}