:root {
    /* theme */
    --text-color-bright: #7aab59;
    --text-color: rgb(255, 255, 255);
    --text-color-muted: #9f8f72;

    --content-font: "Cormorant Garamond";
    --content-size: 1.4rem;

    --background: #ffffff;
    --foreground-light: #151a15;
    --foreground-dark: #151a15;

    --shadow-color: #000000;
    --shadow-size: 0.5rem;

    --border-color: #cfc59c;
    --border-color-muted: #9f8f72;
    --border-color-highlight: #7bba59;
    --border-thickness: 2px;

    --name-font: "Instrument Serif";
    --name-size: 2.5rem;
    --name-first: #4f8831;
    --name-last: #f3d8be;

    /* tree */
    --tree-color: #000000;
    --tree-item: #000000;
    --tree-thickness: 1px;

    /* radii */
    --outer-radius: 10px;
}

html, body {
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    box-sizing: border-box;

    max-width: 100vw;

    margin-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;

    background-color: var(--background)
}

p {
    margin: 0;
}

em {
    color: var(--text-color-muted)
}

strong {
    color: var(--text-color-bright)
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;

    margin-top: 0rem;
    margin-bottom: 0.3rem;
}

h3 {
    margin: 0;
}

#main {
    color: #fff9e2;
    display: flex;
    flex-direction: column;
    gap: 4px;

    flex-grow: 1;
}

#content {
    font-family: var(--content-font), sans-serif;
    font-size: var(--content-size);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;

    width: 100%;    
    z-index: 1;

    .upper-shelf {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-grow: 1;

        padding: 1rem;

        background-color: var(--foreground-dark);
        box-shadow: var(--shadow-size) var(--shadow-size) 0px var(--shadow-color);

        border: 1px solid white;
        border-radius: var(--outer-radius);

        box-sizing: border-box;
        width: 100%;
        z-index: 2;
    }

    .lower-shelf {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-grow: 1;

        padding: 1rem;
        padding-top: calc(1rem + var(--outer-radius));
        
        background-color: var(--foreground-light);
        box-shadow: var(--shadow-size) var(--shadow-size) 0px var(--shadow-color);

        border: 1px solid white;
        border-top: none;
        border-bottom-left-radius: var(--outer-radius);
        border-bottom-right-radius: var(--outer-radius);
        transform: translateY(calc(-1 * var(--outer-radius)));

        box-sizing: border-box;
        width: 100%;
        z-index: 1;
    }
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15vw;
}

#name {
    display: flex;
    flex-direction: row;
    gap: 0px;

    font-family: var(--name-font), monospace;
    font-size: var(--name-size);
    font-weight: 400;
    font-style: normal;

    img {
        height: var(--name-size);
        transform: translateY(0.2rem);

        image-rendering: pixelated;
        margin-right: 0.75rem;
    }

    img:hover {
        
    }

    #first {
        color: var(--name-first);
        font-weight: 400;
    }

    #last {
        color: var(--name-last);;
    }
}

.fun-text {
    display: flex;
    flex-direction: row;

    cursor: default;
}

.letter {
    transform: translateY(0px);
    transition: transform 75ms ease-out;
    user-select: none;
}

.letter:hover {
    transform: translateY(-6px);
}

#top-navigation {
    display: flex;
    flex-direction: row2;

    font-family: var(--content-font), monospace;
    font-size: var(--content-size);
    padding: 8px;
    background-color: var(--foreground-dark);
    box-sizing: border-box;

    outline: 4px solid var(--background);
    border-radius: var(--outer-radius);

    z-index: 3;

    width: 100%;
}

#side-navigation {
    display: flex;
    flex-direction: row;
    margin-left: 2.15rem;
    gap: 0;

    color: #a89984;

    #selector {
        flex-grow: 0;
        margin-right: 0.5rem;

        #selector-arrow { 
            color: var(--tree-color);
            font-size: 0.6rem;
            font-weight: 600;
            margin-top: 0.4rem;
            margin-right: 0.2rem;

            transition: transform 75ms ease-out;
        }
    }

    #tree-trunk {
        background-color: var(--tree-color);
        min-width: var(--tree-thickness);
        margin-bottom: calc(1.4rem - var(--tree-thickness));
    }
    
    .tree-branch {
        position: relative;
        color: var(--tree-color);
        font-size: 1.75rem;
        width: 0.75rem;
        height: var(--tree-thickness);
        bottom: -0.75rem;

        transform: translateX(calc(-1 * var(--tree-thickness))) translateY(-1.75rem);
    }

    #nav-items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 4px;

        .nav-item {
            display: flex;
            flex-direction: row;
        }

        .nav-button {
            background: none;
            border: none;
            text-align: left;

            color: var(--tree-item);

            font-family: var(--content-font), monospace;
            font-size: var(--content-size);

            transition: all 100ms;
        }

        .nav-button:hover {
            text-decoration: underline;
        }
        
        .nav-button.selected {
            font-weight: 700;
            color: var(--tree-item)
        }
    }
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 860px) {
  body {
    margin: 0;
    gap: 3vh;
    flex-direction: column;
    margin-top: 5vw;
  }

  div#main {
    flex-shrink: 1;
    margin: 0;
  }

  div#sidebar {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-basis: 5vh;

    div#name {
        left: 0;
    }

    div#side-navigation {
        margin: 0;

        #nav-items {
            flex-direction: row;
        }
    }
  }

  div#content {
    font-size: 0.9rem;
  }

  div#selector {
    display: none;
  }

  div#tree-trunk {
    display: none;
  }

  div#filters {
    flex-direction: column;
    gap: 0.5rem;
  }

  div.tree-branch {
    display: none;
  }
}