.album {
    display: flex;
    flex-direction: column;

    width: 24%;
    box-sizing: border-box;
    
    font-family: 'Ubuntu Mono', monospace;
    text-align: left;

    border: 0.5px solid #fbf1c7;

    color: #fbf1c7;
    background-color: #25211f;
    padding: 1rem;

    cursor: pointer;
    transition: transform 100ms;

    img {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .album-name {
        font-weight: bold;
        font-size: 1rem;
    }

    .album-artist {
        margin-top: 4px;
        font-size: 0.75rem;
    }
}

.album:hover {
    transform: translateY(-7.5px) scale(1.025);
}

#filters {
    display: flex;
    flex-direction: row;

    div {
        flex-grow: 1;
        font-weight: 700;
    }
}

#filter-collection {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#albums {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 1%;
}

button.filter {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    padding: 4px;

    background-color: #25211f;

    border-radius: 0;
    border: 0.5px solid white;

    transition: background-color 75ms ease-out, color 75ms ease-out;
}

button.filter:hover {
    color: #25211f;
    background-color: rgb(196, 190, 172);
}

button.filter.selected {
    color: #25211f !important;
    background-color: white !important;
}

.h-separator {
    display: flex;

    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;

    img {
        height: 12rem;
        object-fit: contain;
    }

    .info {
        flex-grow: 1;
        
    
        .quote-block {
    
            margin-top: 1rem;
    
            p {
                color: rgb(145, 139, 122);
                margin-top: 0.35rem;
                margin-bottom: 0.35rem;
                font-style: italic;
            }
        }
    }
}