.album-border {
    background-color: var(--border-color);

    width: 24%;
    box-sizing: border-box;
    padding: var(--border-thickness);
    border-radius: var(--outer-radius);

    cursor: pointer;
    transition: transform 100ms;

    .album {

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
        border: 0;

        background-color: var(--foreground-dark);
        border-radius: calc(var(--outer-radius) - var(--border-thickness));
        padding: 1rem;

        img {
            border-radius: calc(var(--outer-radius) - var(--border-thickness));
            width: 100%;
            margin-bottom: 1rem;
        }

        .album-name {
            color: var(--text-color);
            font-family: 'Google Sans Code', sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
        }

        .album-artist {
            color: var(--text-color-muted);
            font-family: 'Google Sans Code', sans-serif;
            margin-top: 4px;
            font-size: 0.8rem;
        }
    }
}

.album-border:hover {
    transform: translateY(-7.5px) scale(1.025);
}

.album-border.greenborder {
    background-image: linear-gradient(to bottom, var(--border-color) 0%, var(--border-color-highlight) 100%);  
    border-radius: var(--outer-radius);
}

#filters {
    display: flex;
    flex-direction: row;

    p {
        margin-bottom: 0.5rem;
    }

    div {
        flex-grow: 1;
        font-weight: 700;
    }
}

#filter-collection {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

#albums {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 1%;
}

button.filter {
    color: white;
    font-family: 'Google Sans Code', sans-serif;
    font-size: 1rem;
    padding: 6px;

    background-color: #25211f;

    border: 0;
    border-radius: var(--outer-radius);

    transition: background-color 75ms ease-out, color 75ms ease-out;
    transform: rotate(0deg);
}

button.filter:hover {
    color: #25211f;
    background-color: rgb(196, 190, 172);
    transform: rotate(5deg);
}

button.filter.selected {
    color: #25211f !important;
    background-color: white !important;
    transform: rotate(5deg);
}

.h-separator {
    display: flex;

    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;

    img {
        height: 12rem;
        object-fit: contain;
    }

    .info {
        flex-grow: 1;
        
    
        .quote-block {
    
            margin-top: 1rem;
    
            p {
                color: rgb(145, 139, 122);
                margin-top: 0.35rem;
                margin-bottom: 0.35rem;
                font-style: italic;
            }
        }
    }
}