.album-border {
    background-color: var(--border-color);

    width: 100%;
    box-sizing: border-box;
    padding: var(--border-thickness);
    border-radius: var(--outer-radius);

    cursor: pointer;
    transition: transform 100ms;


    .album {

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
        border: 0;

        background-color: var(--foreground-dark);
        border-radius: calc(var(--outer-radius) - var(--border-thickness));
        padding: 1rem;

        img {
            border-radius: calc(var(--outer-radius) - var(--border-thickness));
            width: 100%;
            margin-bottom: 1rem;
        }

        .album-name {
            color: var(--text-color);
            font-family: 'Google Sans Code', sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
        }

        .album-artist {
            color: var(--text-color-muted);
            font-family: 'Google Sans Code', sans-serif;
            margin-top: 4px;
            font-size: 0.8rem;
        }
    }
}

.album-border:hover {
    transform: translateY(-7.5px) scale(1.025);
}

.album-border.greenborder {
    background-image: linear-gradient(to bottom, var(--border-color) 0%, var(--border-color-highlight) 100%);  
    border-radius: var(--outer-radius);
}

#filters {
    display: flex;
    flex-direction: row;

    p {
        margin-bottom: 0.5rem;
    }

    div {
        flex-grow: 1;
        font-weight: 700;
    }
}

#filter-collection {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

#albums {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    justify-content: left;
    
    gap: 1rem;
}

button.filter {
    color: white;
    font-family: 'Google Sans Code', sans-serif;
    font-size: 1rem;
    padding: 6px;

    background-color: #25211f;

    border: 0;
    border-radius: var(--outer-radius);

    transition: background-color 75ms ease-out, color 75ms ease-out;
    transform: rotate(0deg);
}

button.filter:hover {
    color: #25211f;
    background-color: rgb(196, 190, 172);
    transform: rotate(5deg);
}

button.filter.selected {
    color: #25211f !important;
    background-color: white !important;
    transform: rotate(5deg);
}

.album-header {
    display: flex;

    flex-direction: row;
    gap: 1.25rem;

    div.cover {
        max-height: 100%;
        flex-grow: 0;
        img {
            height: calc(min(14rem,30vw));
            
            border-radius: var(--outer-radius);
            object-fit: cover;
        }
    }

    div.info {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        
        h1 {
            font-size: 3.5rem;
        }
        h2 {
            margin-top: 0;
        }
    
        .quote-block {
    
            margin-top: 1rem;
    
            p {
                color: rgb(145, 139, 122);
                margin-top: 0.35rem;
                margin-bottom: 0.35rem;
                font-style: italic;
            }
        }
    }
}

@media only screen and (max-width: 1040px) {
    #albums {
        grid-template: auto / 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 860px) {
    #albums {
        grid-template: auto / 1fr 1fr !important;
    }

    button.filter {
        font-size: 0.9rem;
    }

    .album-border {
        .album {
            .album-name {
                font-size: 1rem;
            }
            .album-artist {
                color: var(--text-color-muted);
                font-family: 'Google Sans Code', sans-serif;
                margin-top: 4px;
                font-size: 0.8rem;
            }
        }
    }

    .album-header {
        div.info {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .album-header {
        display: flex;

        flex-direction: column;
        gap: 1rem;

        div.cover {
            max-height: 100%;
            flex-grow: 0;
            img {
                width: 100%;
                height: 30vh;
                
                border-radius: var(--outer-radius);
                object-fit: cover;
            }
        }

        div.info {
            h1 {
                font-size: 1.75rem;
            }
            h2 {
                font-size: 0.9rem;
            }
            .quote-block {
                p {
                    font-size: 0.7rem;

                    margin-top: 0.15rem;
                    margin-bottom: 0.15rem;
                }
            }
        }
    }
}