---
import { getCollection } from "astro:content"

import FunText from "../client/fun-text.svelte"
import Navigation from "../client/side-navigation.svelte"

const { page } = Astro.props
const items = await getCollection("pages")
const ids : string[] = []

items.forEach((item) => {
    ids.push(item.id)
})
---

<div id="sidebar">
    <div id="name">
        <img src="/images/logo.png">
        <FunText id="first" text="dawns" />
        <FunText id="last" text=".info" />
    </div>
    <Navigation client:load page={page} nav_items={ids} />
</div>