---
import { getCollection } from "astro:content"

import FunText from "../client/fun-text.svelte"
import Navigation from "../client/side-navigation.svelte"

const { page } = Astro.props
const items = await getCollection("pages")
const ids : string[] = []

items.forEach((item) => {
    ids.push(item.id)
})
---

<div id="sidebar">
    <div id="name">
        <a href="/home">
            <img src="/images/name.png">
        </a>
    </div>
    <Navigation client:load page={page} nav_items={ids} />
</div>