.background {
    position: absolute;
    width: 100%;

    bottom: 0;
    z-index: 1;
}

#firefly-layer {
    width: 0 !important;
    left: 50vw !important;
    z-index: 2 !important;
}

#fire-image {
    position: absolute;

    width: 30vw;
    left: 35vw;
    bottom: 5vw;
}

#fire-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);

    left: 46vw;
    width: 8vw;
    height: 6vw;
    bottom: 10vw;
}

.firefly {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: white;

    z-index: 99;
}