* {
    font-family: "Inter";
    color: white;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #000000;
    
    image-rendering: pixelated;
    background-size: 100% 100%;
    height: 100%;
}

p {
    font-size: 1rem;
}

h1 {

    color: #ffffff;

    text-align: left;
    font-size: 2rem;

    margin-top: 0;
    margin-bottom: 0.5rem;

    font-weight: 700;

}

h2 {
    color: #929292;
    margin-top: 0;

    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

img {
    image-rendering: pixelated;
}

#title {
    max-height: 5rem;
    max-width: 85vw;

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 1rem;

    background: linear-gradient(45deg, #7c4490, #b27534);
}

#spacer {
    padding-top: 2rem;
    margin:0;
}

#content {
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 768px) {
    #content {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

#navbar {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-between;
    gap: 2vw;
}

#page {
    margin: 2rem 0rem 0 0rem;

    transition: opacity 0.1s;
}

.nav-link {
    color: #BBBBBB;
    font-size: 1.25rem;
    margin: 0.5rem 0 0.5rem 0;

    cursor: default;
    text-decoration-thickness: 0.1rem !important; 
    user-select: none;

    transition-property: color, width, margin;
    transition-duration: 0.1s;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: white !important;
    font-weight: bold;
    text-decoration: underline;

    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.spacer {
    background-color: #2d2d2d;
    border:0;
    
    margin-top: auto;
    margin-bottom: auto;

    height: 1px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #navbar {
        justify-content: space-around !important;
    }
    
    .nav-link.desktop-only {
        display: none;
    }    
    
    .spacer {
        max-width: 0px;
        display: none;
    }
}