<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="/static/script/fun.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/style/layout.css">
        <link rel="stylesheet" href="static/style/background.css">
    </head>
    <body onload="startAnimating()">
        <div id="fire-layer" class="background">
            <img src="static/images/fire/fire1.png" id="fire">
        </div>
        <div id="firefly-layer" class="background">
        </div>
        
        <div id="content">
            <h1>dawn schumacher</h1>
            <hr>
            <div id="navbar">
                {{ navbar }}
            </div>
            <hr>
            <div id="page">
                {{ page }}
            </div>
        </div>
    </body>
</html>